* 
{
    box-sizing: border-box;
  }
  
  *{
      margin: 0px;
      padding: 0px;
      font-family:monospace;
  }
  li,p{
      color: white;
  }
  #div_1{
      margin: 20px;
  }
  #div_2{
      background-color: darkcyan;
      height: 600px;
  }
  .img-tec{
      width: 150px;
      height: 150px;
      border-radius: 50%;
      margin-left: 45px;
  }
  #div_3{
      background-color: darkgrey;
      height: 600px;
  }
